body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}


header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
}

.log {
  position; absolute;
  top: 120px;
  right: 120px;
}
nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #f2f2f2;
}


main {
  padding: 20px;
}

main h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

main p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


aside {
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

aside h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  color: #222;
  text-decoration: blue;
font-size: 25px;
}

aside a:hover {
  color: #555;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  height: auto;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
.community-image {
  width: 100%;
  height: 400px;
  background-image: url("community.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 20px;
  }

  main h1 {
    font-size: 24px;
  }

  main p {
    font-size: 16px;
  }

  aside h2 {
    font-size: 20px;
  }
}